<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978923627962-bcuak28l0duu72n7r4i0t33tinnhjqph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978923627962-bcuak28l0duu72n7r4i0t33tinnhjqph</string>
	<key>API_KEY</key>
	<string>AIzaSyDCMGyWwYImgONAbC1C75yA3-GRzGvgWFk</string>
	<key>GCM_SENDER_ID</key>
	<string>978923627962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eleverdev</string>
	<key>PROJECT_ID</key>
	<string>elever-29a7a</string>
	<key>STORAGE_BUCKET</key>
	<string>elever-29a7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978923627962:ios:27aba194ae8622d7c2a983</string>
</dict>
</plist>